<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Programming</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
</head>
<body class="text-white flex">
<!--Left-sidebar-->
<aside class="w-64" aria-label="Sidebar" th:insert="~{components/admin-navbar :: admin-navbar}"></aside>
<!--End-Left-sidebar-->
<div class="bg-gray-900 grow flex">
    <div class="grow p-4">

        <div class="relative overflow-x-auto sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-400">
                <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <th class="px-4 py-4"> Name</th>
                    <th class="px-4 py-4"> phone</th>
                    <th class="px-4 py-4"> Email</th>
                    <th class="px-4 py-4"> Address</th>
                    <th scope="col" class="px-4 py-3">
                        <span class="sr-only">Action</span>
                    </th>
                    <th class="px-4 py-4">Trigger</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="mentor: ${mentors}">
                    <tr class="border-b bg-gray-800 border-gray-700">
                        <td class="px-4 py-4 flex items-center gap-3 text-white font-medium ">
                            <img class="w-12 h-12 rounded-full" th:src="@{${mentor.image}}"
                                 alt="Bonnie image"/>
                            <a th:href="@{/profile(id=${mentor.id})}"
                               th:text="${mentor.firstName + ' ' + mentor.lastName}">Nguyen Hong Phuong</a>
                        </td>
                        <td class="px-4 py-4" th:text="${mentor.phoneNumber}">
                            0987654321
                        </td>
                        <td class="px-4 py-4" th:text="${mentor.email}">
                            test@example.com.vn
                        </td>
                        <td class="px-4 py-4 max-w-[300px]"
                            th:text="${mentor.address.ward.name+', '+mentor.address.district.name+', '+mentor.address.province.name }">
                            Hoa Lac, Thach That, Hanoi
                        </td>
                        <td class="px-4 py-4">
                            <a th:href="@{/admin/mentor(id=${mentor.id})}" class="mr-4 text-green-500 hover:underline">
                                View
                            </a>
                        </td>
                        <td class="px-6 py-4 flex items-center gap-4 h-[100%]">
                            <label th:attr="for=${'small-toggle'+mentor.id}"
                                   class="inline-flex relative items-center mb-5 cursor-pointer">
                                <input th:if="${mentor.status == 0}"
                                       type="checkbox" value=""
                                       th:attr="id=${'small-toggle' + mentor.id},data-modal-toggle=${'popup-modal-enable' + mentor.id}"
                                       class="sr-only peer">
                                <input th:if="${mentor.status == 1}" checked
                                       type="checkbox" value=""
                                       th:attr="id=${'small-toggle' + mentor.id},data-modal-toggle=${'popup-modal-disable' + mentor.id}"
                                       class="sr-only peer">
                                <div class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4
                            peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700
                            peer-checked:after:translate-x-full peer-checked:after:border-white after:content-['']
                            after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300
                            after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600
                            peer-checked:bg-blue-600"></div>
                            </label>
                            <div th:attr="id=${'popup-modal-enable'+mentor.id}" data-modal-placement="top-center"
                                 tabindex="-1"
                                 class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full">
                                <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <a th:href="@{/admin/mentors}"
                                           type="button"
                                           class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white">
                                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                      clip-rule="evenodd"></path>
                                            </svg>
                                        </a>
                                        <div class="p-6 text-center">
                                            <h3
                                                    class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                                Do you want to enable this user?</h3>
                                            <a th:href="@{/admin/enable(id=${mentor.id})}" type="button"
                                               class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300
                                               dark:focus:ring-green-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5
                                               text-center mr-2">Yes</a>
                                            <a th:href="@{/admin/mentors}"
                                               type="button"
                                               class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200
                                               rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10
                                               dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600
                                               dark:focus:ring-gray-600">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:attr="id=${'popup-modal-disable' + mentor.id}" data-modal-placement="top-center"
                                 tabindex="-1"
                                 class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full">
                                <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <a th:href="@{/admin/mentors}"
                                           type="button"
                                           class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white">
                                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                      clip-rule="evenodd"></path>
                                            </svg>
                                        </a>
                                        <div class="p-6 text-center">
                                            <h3
                                                    class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                                Do you want to disable this user?</h3>
                                            <a th:href="@{/admin/disable(id=${mentor.id})}" type="button"
                                               class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300
                                               dark:focus:ring-green-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5
                                               text-center mr-2">Yes</a>
                                            <a th:href="@{/admin/mentors}"
                                               type="button"
                                               class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200
                                               rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10
                                               dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600
                                               dark:focus:ring-gray-600">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example" class="mt-6 mr-4 flex justify-end">
            <ul class="inline-flex -space-x-px">
                <li>
                    <a th:href="@{/admin/mentors(pageNumber=1)}"
                       class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">First</a>
                </li>
                <li>
                    <a th:if="${pageNumber - 2 > 1}" th:href="@{/admin/mentors(pageNumber=${pageNumber - 2})}"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       th:text="${pageNumber -2}">1</a>
                </li>
                <li>
                    <a th:if="${pageNumber - 1 > 1}" th:href="@{/admin/mentors(pageNumber=${pageNumber - 1})}"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       th:text="${pageNumber - 1}">2</a>
                </li>
                <li>
                    <a href="#" aria-current="page"
                       class="py-2 px-3 text-blue-600 bg-blue-50 border border-gray-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
                       th:text="${pageNumber}">3</a>
                </li>
                <li>
                    <a th:if="${pageNumber + 1 < totalPages}"
                       th:href="@{/admin/mentors(pageNumber=${pageNumber + 1})}"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       th:text="${pageNumber + 1}">4</a>
                </li>
                <li>
                    <a th:if="${pageNumber + 2 < totalPages}"
                       th:href="@{/admin/mentors(pageNumber=${pageNumber + 2})}"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       th:text="${pageNumber + 2}">5</a>
                </li>
                <li>
                    <a th:href="@{/admin/mentors(pageNumber=${totalPages})}"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script type="text/javascript">
    function toggleTrigger(mentorId, mentorStatus) {
        $.ajax({
            url: "/admin/trigger",
            data: {
                id: mentorId,
                status: mentorStatus
            },
            method: "GET",
            success: function () {

            }
        });
    };
</script>
</body>
</html>