<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Requests - Happy Programming</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="text-white flex">

<!--Left-sidebar-->
<aside class="w-64" aria-label="Sidebar" th:insert="~{components/admin-navbar :: admin-navbar}"></aside>
<!--End-Left-sidebar-->



<div class="bg-gray-900 grow flex min-h-[100vh]">
    <div class="grow p-4">
        <h1 class="text-3xl my-4 font-semibold">Request</h1>
        <div class="relative overflow-x-auto sm:rounded-lg">
            <div class="space-y-4 xl:mr-40" th:each="request: ${requests}">
                <div class="flex items-center justify-between gap-4 p-6 text-white rounded-lg bg-gray-800 mb-5"
                     th:object="${request}">
                    <span th:text="${request.id}"></span>
                    <a th:href="@{/cv(id=${request.mentor.id})}" class="flex items-center gap-4">
                        <img th:src="${request.mentor.image}" alt="" class="w-10 h-10 rounded-full">
                        <p th:text="*{mentor.firstName + ' ' + mentor.lastName}" class="font-medium">Anna Amelius</p>
                    </a>
                    <a th:href="@{/cv(id=${request.mentee.id})}" class="flex items-center gap-4">
                        <img th:src="${request.mentee.image}" alt="" class="w-10 h-10 rounded-full">
                        <p th:text="*{mentee.firstName + ' ' + mentee.lastName}" class="font-medium">Anna Amelius</p>
                    </a>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="mt-6 flex justify-end mr-40">
            <ul class="inline-flex -space-x-px">
                <li>
                    <a th:if="${pageNumber - 1 >= 1}"  th:href="@{/admin/requests(pageNumber=${pageNumber - 1})}"
                       class="py-2 px-3 leading-tight rounded-l-lg border bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white"
                    >Previous</a>
                    <a th:if="${pageNumber - 1 < 1}"
                       class="py-2 px-3 leading-tight rounded-l-lg border bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white"
                    >Previous</a>
                </li>
                <li>
                    <a th:if="${pageNumber - 2 >= 1}" th:href="@{/admin/requests(pageNumber=${pageNumber - 2})}"
                       class="py-2 px-3 leading-tight border bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white"
                       th:text="${pageNumber -2}">1</a>
                </li>
                <li>
                    <a th:if="${pageNumber - 1 >= 1}" th:href="@{/admin/requests(pageNumber=${pageNumber - 1})}"
                       class="py-2 px-3 leading-tight border bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white"
                       th:text="${pageNumber - 1}">2</a>
                </li>
                <li>
                    <a href="#" aria-current="page"
                       class="py-2 px-3 border hover:bg-blue-100 hover:text-blue-700 border-gray-700 bg-gray-700 text-white"
                       th:text="${pageNumber}">3</a>
                </li>
                <li>
                    <a th:if="${pageNumber + 1 <= totalPages}"
                       th:href="@{/admin/requests(pageNumber=${pageNumber + 1})}"
                       class="py-2 px-3 leading-tight border bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white"
                       th:text="${pageNumber + 1}">4</a>
                </li>
                <li>
                    <a th:if="${pageNumber + 2 <= totalPages}"
                       th:href="@{/admin/requests(pageNumber=${pageNumber + 2})}"
                       class="py-2 px-3 leading-tight border bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white"
                       th:text="${pageNumber + 2}">5</a>
                </li>
                <li>
                    <a th:if="${pageNumber + 1 <= totalPages}"  th:href="@{/admin/requests(pageNumber=${pageNumber + 1})}"
                       class="py-2 px-3 leading-tight rounded-r-lg border bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white"
                    >Next</a>
                    <a th:if="${pageNumber + 1 > totalPages}"
                       class="py-2 px-3 leading-tight rounded-r-lg border bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white"
                    >Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>