<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Mentees - Happy Programming</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css"/>
</head>
<body class="text-white flex">
<!--Left-sidebar-->
<aside class="w-64" aria-label="Sidebar" th:insert="~{components/admin-navbar :: admin-navbar}"></aside>
<!--End-Left-sidebar-->
<div class="bg-gray-900 grow flex min-h-[100vh]">
    <div class="grow p-4">
        <form method="get" th:action="@{/admin/mentees}">
            <div class="grid xl:grid-cols-2 xl:gap-6">
                <div class="py-2">
                    <label for="firstname" class="block font-medium text-gray-300 text-sm mb-2">First Name</label>
                    <input type="text" id="firstname" class="bg-gray-50 border border-gray-300 text-sm rounded-lg
                        focus:outline-none focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600
                        placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                           th:value="${first_name}" name="first_name"
                           placeholder="John" >
                </div>
                <div class="py-2">
                    <label for="lastname" class="block font-medium text-gray-300 text-sm mb-2">Last Name</label>
                    <input type="text" id="lastname" class="bg-gray-50 border border-gray-300 text-sm rounded-lg
                        focus:outline-none focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600
                        placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                           th:value="${last_name}" name="last_name"
                           placeholder="Anderson" >
                </div>
            </div>
            <div class="grid xl:grid-cols-2 xl:gap-6">
                <div class="py-2">
                    <label for="phone" class="block font-medium text-gray-300 text-sm mb-2">Last Name</label>
                    <input type="text" id="phone" class="bg-gray-50 border border-gray-300 text-sm rounded-lg
                        focus:outline-none focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600
                        placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                           th:value="${phone}" name="phone"
                           placeholder="0337607098" >
                </div>
                <div class="py-4">
                    <label for="email" class="block font-medium text-gray-300 text-sm mb-2">Email</label>
                    <input type="text" id="email" name="email" th:value="${email}"
                           class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:outline-none
                       focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600
                       placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                           placeholder="example@gmail.com">
                </div>
            </div>
            <div class=" mb-2 w-48">
                <a href="">
                    <button class="py-2.5 px-5 w-full text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-2 focus:ring-blue-500 bg-gray-800 border-blue-600 hover:text-white hover:bg-blue-500">
                        Search
                    </button>
                </a>
            </div>
        </form>
        <div class="relative overflow-x-auto sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-400">
                <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <th class="px-6 py-4"> Name</th>
                    <th class="px-6 py-4"> phone</th>
                    <th class="px-6 py-4"> Email</th>
                    <th class="px-6 py-4"> Address</th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-b bg-gray-800 border-gray-700" th:each="mentee: ${mentees}">
                    <td class="px-6 py-4 flex items-center gap-3"
                        th:utext="${mentee.lastName + ' ' + mentee.firstName}">
                        <img class="w-12 h-12 rounded-full" src="../../static/imgs/avatar2.jpg"
                             alt="Bonnie image"/>
                    </td>
                    <td class="px-6 py-4" th:utext="${mentee.phoneNumber}">
                    </td>
                    <td class="px-6 py-4" th:utext="${mentee.email}">
                    </td>
                    <td class="px-6 py-4"
                        th:utext="${mentee.address.ward.name + ', ' + mentee.address.district.name + ', ' + mentee.address.province.name}">
                    </td>
                    <td class="px-6 py-4 flex items-center gap-4 h-[100%]">
                        <a th:href="@{/admin/mentee(id=${mentee.id})}" class="text-green-500 hover:text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
                            </svg>
                        </a>
                        <a th:href="@{/admin/delete(id=${mentee.id})}" class="text-red-500 hover:text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                            </svg>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example" class="mt-6 mr-4 flex justify-end">
            <ul class="inline-flex -space-x-px">
                <li>
                    <a th:href="@{/admin/mentees(pageNumber=1)}"
                       class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                </li>
                <li>
                    <a th:if="${pageNumber - 2 > 1}" th:href="@{/admin/mentees(pageNumber=${pageNumber - 2})}"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       th:text="${pageNumber -2}">1</a>
                </li>
                <li>
                    <a th:if="${pageNumber - 1 > 1}" th:href="@{/admin/mentees(pageNumber=${pageNumber - 1})}"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       th:text="${pageNumber - 1}">2</a>
                </li>
                <li>
                    <a href="#" aria-current="page"
                       class="py-2 px-3 text-blue-600 bg-blue-50 border border-gray-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
                       th:text="${pageNumber}">3</a>
                </li>
                <li>
                    <a th:if="${pageNumber + 1 < totalPages}"
                       th:href="@{/admin/mentees(pageNumber=${pageNumber + 1})}"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       th:text="${pageNumber + 1}">4</a>
                </li>
                <li>
                    <a th:if="${pageNumber + 2 < totalPages}"
                       th:href="@{/admin/mentees(pageNumber=${pageNumber + 2})}"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       th:text="${pageNumber + 2}">5</a>
                </li>
                <li>
                    <a th:href="@{/admin/mentees(pageNumber=${totalPages})}"
                       class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>