<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Mentees - Happy Programming</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="text-white flex">
<!--Left-sidebar-->
<aside class="w-64" aria-label="Sidebar" th:insert="~{components/admin-navbar :: admin-navbar}"></aside>
<!--End-Left-sidebar-->
<div class="bg-gray-900 grow flex min-h-[100vh]">
    <div class="grow p-4">
        <div class="relative overflow-x-auto sm:rounded-lg">
            <div class="max-w-[1250px] mx-auto grid my-12">
                <div class="lg:col-span-1 grow px-4 flex flex-row">
                    <div>
                        <img th:src="${mentee.image}"
                             class="w-48 h-48 rounded-full border-2 border-gray-400" alt="">
                        <h1 class="text-2xl text-center font-bold my-6" th:text="${mentee.lastName + ' ' + mentee.firstName}">ABC</h1>
                        <div class=" mb-2 w-48">
                            <a class="w-full my-[10px]" th:href="@{/admin/mentees}">
                                <button class="py-2.5 px-5 w-full text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-2 focus:ring-gray-700 bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-green-500" >
                                    Cancel
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="text-gray-300 mx-24 my-2 w-full">
                        <h1 class="text-2xl font-bold mb-6">Information Personal</h1>
                        <div class="flex items-center gap-4 mx-6 my-4">
                            First Name:
                            <p th:text="${mentee.firstName}"></p>
                        </div>
                        <div class="flex items-center gap-4 mx-6 my-4">
                            Last Name:
                            <p th:text="${mentee.lastName}"></p>
                        </div>
                        <div class="flex items-center gap-4 my-4 mx-6">
                            Gender:
                            <p th:text="${mentee.gender == 1 ? 'Male' : 'Female'}"></p>
                        </div>
                        <div class="flex items-center gap-4 my-4 mx-6">
                            Email:
                            <p th:text="${mentee.email}"></p>
                        </div>
                        <div class="flex items-center gap-4 my-4 mx-6">
                            Phone:
                            <p th:text="${mentee.phoneNumber}">012 345 6789</p>
                        </div>
                        <div class="flex items-center gap-4 my-4 mx-6">
                            DOB:
                            <p th:text="${#dates.format(mentee.dob,'dd-MM-yyyy')}">30/4/1975</p>
                        </div>
                        <div class="flex items-center gap-4 my-4 mx-6">
                            Education:
                            <p th:text="${mentee.school}">FPT University</p>
                        </div>
                        <div class="flex items-center gap-4 my-4 mx-6">
                            Address:
                            <p th:text="${mentee.address.ward.name + ', ' + mentee.address.district.name + ', ' + mentee.address.province.name }">Thi tran Tien Hai, Tien Hai, Thai Binh</p>
                        </div>
                        <div class="flex items-center gap-4 my-4 mx-6">
                            Created Date:
                            <p th:text="${#dates.format(mentee.created,'dd-MM-yyyy')}">30/4/1975</p>
                        </div>
                        <div class="gap-4 my-8 mx-6">
                            <div class="">
                                <h3 class="font-bold my-4 text-xl">Additional Information</h3>
                                <div class="block p-6 rounded-lg bg-gray-800">
                                    <p class="font-normal text-gray-300 break-all" th:text="${mentee.bio}">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim dui sed dapibus finibus.
                                        Sed pellentesque eu leo at elementum. Etiam posuere justo eget lacus posuere, in posuere lacus
                                        vehicula. Donec malesuada dolor quam, eget egestas purus sagittis dictum. Mauris lacinia metus nunc,
                                        ut tincidunt elit convallis sed. Sed id diam a massa auctor iaculis ut a velit. Nullam fermentum
                                        tincidunt elit eget mollis. Etiam elementum egestas convallis. Donec sed orci vel odio tristique
                                        condimentum vitae ac nunc. Suspendisse vel nibh tristique, bibendum tortor id, ornare mi. Duis
                                        dictum consequat efficitur. Phasellus quis eros quis lorem pharetra venenatis.

                                        Integer justo purus, commodo nec ex vitae, ultrices hendrerit nisl. Donec placerat eu mauris non
                                        viverra. In ut nisl et arcu faucibus scelerisque sed ac leo. Orci varius natoque penatibus et magnis
                                        dis parturient montes, nascetur ridiculus mus. Vivamus maximus elementum metus, sed suscipit mi
                                        varius in. Fusce egestas laoreet nisi, eu scelerisque magna vehicula in. Orci varius natoque
                                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et nibh rhoncus, dignissim
                                        urna et, tempor augue. Quisque justo diam, rhoncus eu pulvinar eu, varius quis ligula. Integer
                                        laoreet velit at vulputate tincidunt. Nam maximus odio id arcu hendrerit posuere. Pellentesque id
                                        ante volutpat, tempor est sit amet, facilisis quam.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>