<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"  xmlns:th="http://www.thymeleaf.org">
  <title>Title</title>
</head>
<body>
    <div th:fragment="admin-navbar" class="min-h-[100vh] h-full overflow-y-auto py-4 px-3 bg-gray-800">
        <div class="text-xl font-semibold my-7 px-2">
            <h1><a href="">Happy Programming</a></h1>
        </div>
        <ul class="space-y-2 my-2">
            <li>
                <a href="/admin/dashboard"
                   class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700">
                    <svg class="w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white"
                         fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                        <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                    </svg>
                    <span class="ml-3">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/requests"
                   class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700">
                    <svg class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white"
                         fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Requests</span>
                </a>
            </li>
            <li>
                <a href="/admin/mentors"
                   class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700">
                    <svg class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white"
                         fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Mentors</span>
                </a>
            </li>
            <li>
                <a href="/admin/mentees"
                   class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700">
                    <svg class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white"
                         fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Mentees</span>
                </a>
            </li>
            <li>
                <a href="/admin/skills"
                   class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white"
                         viewBox="0 0 20 20" fill="currentColor">
                        <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z"/>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Skills</span>
                </a>
            </li>
            <li>
                <a href="/admin/connections"
                   class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white"
                         viewBox="0 0 20 20" fill="currentColor">
                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Connections</span>
                </a>
            </li>
            <li>
                <a href="/admin/notification"
                    class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700">
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z" clip-rule="evenodd"></path></svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Notification</span>
                </a>
            </li>
            <li>
                <a th:href="@{/logout}" href=""
                   class="group flex items-center py-2.5 px-4 text-base font-normal rounded-md text-white hover:bg-zinc-600">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="flex-shrink-0 w-6 h-6 transition duration-75 text-zinc-400" viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
                              clip-rule="evenodd"/>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Logout</span>
                </a>
            </li>
        </ul>
    </div>

</body>
</html>
