<nav class="h-20 border-b-2 border-gray-700 flex items-center" th:fragment="window">
    <a href="#" class="flex items-center px-4 py-2 gap-3 rounded-md">
        <img th:src="${connection.image}" class="w-10 h-10 rounded-full" alt=""/>
        <p href="" class="font-medium" th:text="${connection.name}">Anna Amelius</p>
    </a>
</nav>
<div class="grow" id="messages">
    <div class="flex flex-col justify-end" th:each="message: ${messages}">
        <div class="p-4 flex"
             th:classappend="${message.sender.id == session.userInformation.getId()} ? 'flex-row-reverse' : 'flex-row'">
            <div class='p-2 rounded-lg bg-blue-600' th:text="${message.content}">
                ${content}
            </div>
        </div>
    </div>
</div>
<div class="">
    <form>
        <input type="hidden" id="sender_id" th:value="${session.userInformation.getId()}">
        <input type="hidden" id="receiver_id" th:value="${connection.id}">
        <div class="flex items-center py-2 px-3 border-t border-gray-700">
            <button type="button"
                    class="inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>
            <textarea id="content" rows="1"
                      class="block mx-4 p-2.5 w-full text-sm rounded-lg bg-gray-800 border-gray-600 placeholder-gray-400 focus:outline-none"
                      placeholder="Your message..."></textarea>
            <button type="submit" onclick="send()"
                    class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                <svg class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
                </svg>
            </button>
        </div>
    </form>

</div>
<script type="text/javascript">
    var ws;

    $("form").submit(function (e) {
        e.preventDefault();
    });

    $(document).ready(function () {
        ws = new WebSocket('ws://localhost:8080/chatSocket');
        ws.onmessage = function (data) {
            showNewMessages(data.data);
        }
    });

    function createMessage(content, fromSelf) {
        let div = document.createElement('div');
        let direction = fromSelf ? 'flex-row-reverse' : 'flex-row';
        div.innerHTML = `<div class='p-4 flex ${direction}'><div class='p-2 rounded-lg bg-blue-600'>${content}</div></div>`;
        return div.firstChild;
    }

    function send() {
        $("#messages").append(createMessage($("#content").val(), true));
        ws.send(JSON.stringify({
            senderId: $("#sender_id").val(),
            receiverId: $("#receiver_id").val(),
            content: $("#content").val()
        }));
        $.ajax(
            {
                url: 'http://localhost:8080/sendMessage',
                method: 'GET',
                data: {
                    receiverId: $("#receiver_id").val(),
                    content: $("#content").val()
                },
            }
        )
        $("#content").val("");
    }

    function showNewMessages(message) {
        $("#messages").append(createMessage(message, false));
    }
</script>
