<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="text-white">
<aside class="w-64 fixed top-0 min-h-[100vh]" aria-label="Sidebar" th:fragment="nav">
    <div class="h-[100vh] overflow-y-auto py-4 px-3 bg-gray-800">
        <div class="text-2xl font-semibold my-4 px-4">
            <h1><a href="">Happy Programming</a></h1>
        </div>
        <div class="flex items-center gap-3 rounded-md p-3 mt-4">
            <img src="../../static/imgs/avatar1.jpg" th:src="@{${session.userInformation.image}}" alt="" class="w-10 h-10 rounded-full">
            <div class="">
                <a href="/profile">
                    <h3 class="font-medium"
                        th:text="${session.userInformation.getFirstName() + ' ' + session.userInformation.getLastName()}">
                        Anna Amelius
                    </h3>
                </a>
            </div>
        </div>
        <ul class="space-y-2">
            <br>
            <li>
                <a href="/dashboard"
                   class="group flex items-center py-1.5 px-4 text-base font-normal rounded-md text-white hover:bg-blue-800">
                    <svg class="w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white"
                         fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                        <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                    </svg>
                    <span class="ml-3">Home</span>
                </a>
            </li>
            <br>
            <li>
                <a href="/requests"
                   class="group flex items-center py-1.5 px-4 text-base font-normal rounded-md text-white hover:bg-blue-800">
                    <svg class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white"
                         fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                        </path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Requests</span>
                </a>
            </li>
            <li>
                <a href="/connections"
                   class="group flex items-center py-1.5 px-4 text-base font-normal rounded-md text-white hover:bg-blue-800">
                    <svg class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white"
                         fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Connections</span>
                </a>
            </li>
            <br>
            <li>
                <a th:href="@{/cv(id=${session.userInformation.id})}" href="" th:if="${session.role == 'MENTOR_AND_MENTEE'}"
                   class="group flex items-center py-1.5 px-4 text-base font-normal rounded-md text-white hover:bg-blue-800">
                    <svg class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white"
                         fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">View Cv</span>
                </a>
            </li>
            <li>
                <a th:href="@{/mentor}" href="" th:if="${session.role == 'MENTEE'}"
                   class="group flex items-center py-1.5 px-4 text-base font-normal rounded-md text-white hover:bg-blue-800">
                    <svg class="flex-shrink-0 w-6 h-6 transition duration-75 text-gray-400 group-hover:text-white"
                         fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span class="flex-1 ml-3 whitespace-nowrap">Create Cv</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
</body>
</html>