<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>

<body>
<select id="district" th:name="districtId"
        class="bg-gray-900 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    <option selected> -- Choose district --</option>
    <option th:each="district,state : ${listDistrict}" th:value="${district.id}" th:utext="${district.name}"
            th:selected="${dis == district.id}"></option>
</select>
</body>

<script>
    $(document).ready(function () {
        $('#district').on('change', function () {
            var districtId = $("#district").val();
            var wardId = $("#ward").val();
            $("#error").html("");
            $.ajax({
                url: "/mentor/profile/update/ward",
                data: {
                    districtId: districtId,
                    wardId: wardId
                },
                method: "GET",
                success: function (data) {
                    console.log(2);
                    $("#ward-id").html(data);
                }
            });
        });
    });
</script>

</html>