<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat - Happy Programming</title>
    <link rel="icon" type="image/x-icon" th:href="@{/upload/static/imgs/logo.svg}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex bg-zinc-900 text-white font-['SF_Pro_Text']">
<div class="" th:replace="components/nav.html :: aside"></div>
<div id="message" class="grow flex flex-col mx-64 h-[100vh]">
    <nav class="px-4 py-2 border-b-2 border-zinc-700 flex items-center" th:fragment="window">
        <a th:href="@{/profile(id=${receiver.id})}" class="flex items-center px-4 py-2 gap-3 rounded-md">
            <img th:src="${receiver.image}" class="w-10 h-10 rounded-full" alt=""/>
            <p class="font-medium" th:text="${receiver.name}">Anna Amelius</p>
        </a>
    </nav>
    <div class="grow overflow-auto">
        <div class="flex flex-col justify-end" id="messages">
            <div class="p-4 flex items-center group gap-4" th:each="message: ${messages}" th:object="${message}"
                 th:classappend="${message.sender.id == session.userInformation.getId()} ? 'flex-row-reverse' : 'flex-row'">
                <div class='rounded-xl max-w-[30ch]'
                     th:classappend="${message.sender.id == session.userInformation.getId()} ? 'bg-blue-600' : 'bg-zinc-700'">
                    <p class="p-2 break-words" th:text="*{content}">${content}</p>
                    <a th:href="@{${message.link}}" target="_blank" th:if="${message.link != null && message.link != ''}">
                        <img class="w-full" th:src="@{${message.image}}" th:alt="*{title}">
                        <p class="font-medium p-3" th:text="*{title}"></p>
                    </a>
                </div>
                <p class="hidden group-hover:block text-gray-600 font-medium text-sm"
                   th:text="${#temporals.format(message.timestamp, 'dd/MM/yyyy HH:mm:ss')}"></p>
            </div>
            <div id="dummy"></div>
        </div>
    </div>
    <div class="flex items-center py-2 px-3 border-t border-zinc-700">
        <input type="hidden" name="senderId" id="sender_id" th:value="${session.userInformation.getId()}">
        <input type="hidden" name="receiverId" id="receiver_id" th:value="${receiver.id}">
        <input id="content" type="text"
               class="resize-none block mx-4 p-2.5 w-full text-sm rounded-lg bg-zinc-800 border-zinc-600 placeholder-zinc-400 focus:outline-none"
               placeholder="Your message..."/>
        <button onclick="send()"
                class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-zinc-600">
            <svg class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
            </svg>
        </button>
    </div>
</div>
<aside class="w-64 overflow-y-auto p-4 fixed top-0 right-0 border-l-2 border-zinc-700 h-[100vh]">
    <a class="connection_button | cursor-pointer flex items-center px-4 py-2 gap-3 hover:bg-zinc-700 rounded-md overflow-hidden"
       th:href="@{/chat(id=${connection.id})}"
       th:id="'connection_'+${connection.id}"
       th:each="connection, state: ${connections}">
        <img th:src="${connection.image}" class="w-10 h-10 rounded-full" alt=""/>
        <div class="">
            <p class="font-medium" th:text="${connection.name}">Anna Amelius</p>
        </div>
    </a>
</aside>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script th:src="@{/upload/static/js/chat.js}"></script>
</body>
</html>