<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-900 text-white">
<nav class="">

</nav>
<div class="max-w-full border-b border-gray-600 mt-6">
    <div class="max-w-[1250px] mx-auto grid grid-cols-4">
        <div class="col-span-1"></div>
        <nav class="pl-12 flex gap-4">
            <div class="border-b-2 border-orange-500 py-2">
                <a href="" class="text-sm px-2 py-1 hover:bg-gray-800/90 rounded-md flex
                   items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754
                          18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5
                          1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"/>
                    </svg>
                    Overview
                </a>
            </div>
            <div class="py-2">
                <a href="" class="text-sm px-2 py-1 hover:bg-gray-800/90 rounded-md flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"/>
                    </svg>
                    Feedback
                </a>
            </div>
        </nav>
    </div>
</div>
<div class="max-w-[1250px] mx-auto grid grid-cols-4">
    <div class="col-span-1 grow min-h-[100vh] mt-[-2rem] px-4 flex flex-col">
        <img src="../static/a.png" class="w-72 h-72 rounded-full border-2 border-gray-400 mx-auto" alt="">
        <h1 class="text-2xl font-bold my-6">Nguyễn Huy Hoàng</h1>
<!--        <button type="button"-->
<!--                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium focus:outline-none rounded-lg border focus:z-10-->
<!--                focus:ring-2 focus:ring-gray-700 bg-gray-800 text-gray-400 border-gray-600 hover:text-white-->
<!--                hover:bg-gray-700">-->
<!--            Edit profile-->
<!--        </button>-->
    </div>
    <div class="col-span-3 p-8">
        <div class="">
            <h2 class="my-4 text-xl">About me</h2>
            <div class="block p-6 rounded-lg border border-gray-200 shadow-md
                bg-gray-800 border-gray-700 hover:bg-gray-700">
                <p class="font-normal text-gray-300">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quisquam,
                    quod, doloremque, quibusdam eius quae nisi dolore doloremque. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Aliquam, quisquam,
                    quod, doloremque, quibusdam eius quae nisi dolore doloremque.Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Aliquam, quisquam,
                    quod, doloremque, quibusdam eius quae nisi dolore doloremque.Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Aliquam, quisquam,
                    quod, doloremque, quibusdam eius quae nisi dolore doloremque.

                </p>
            </div>
        </div>
        <div class="">
            <h2 class="my-4 text-xl">Experience</h2>
            <div class="grid grid-cols-2 gap-4">
                <div class="block p-6 rounded-lg border border-gray-200 shadow-md
                bg-gray-800 border-gray-700 hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
                        Admin HSHB
                    </h5>
                    <p class="font-normal text-gray-400">
                        Admin HSHB Gen 3 và Gen 4.
                    </p>
                </div>
                <div class="block p-6 rounded-lg border border-gray-200 shadow-md
                bg-gray-800 border-gray-700 hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
                        Admin HSHB
                    </h5>
                    <p class="font-normal text-gray-400">
                        Admin HSHB Gen 3 và Gen 4.
                    </p>
                </div>
            </div>
        </div>
        <div class="">
            <h2 class="my-4 text-xl">Additional information</h2>
            <div class="grid grid-cols-2 gap-4">
                <div class="block p-6 rounded-lg border border-gray-200 shadow-md
                bg-gray-800 border-gray-700 hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
                        DOB
                    </h5>
                    <p class="font-normal text-gray-400">
                        2/12/2002
                    </p>
                </div>
                <div class="block p-6 rounded-lg border border-gray-200 shadow-md
                bg-gray-800 border-gray-700 hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
                        Education
                    </h5>
                    <p class="font-normal text-gray-400">
                        FPT University
                    </p>
                </div>
                <div class="block p-6 rounded-lg border border-gray-200 shadow-md
                bg-gray-800 border-gray-700 hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
                        Gender
                    </h5>
                    <p class="font-normal text-gray-400">
                        Male
                    </p>
                </div>
                <div class="block p-6 rounded-lg border border-gray-200 shadow-md
                bg-gray-800 border-gray-700 hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
                        Address
                    </h5>
                    <p class="font-normal text-gray-400">
                        Thi tran Tien Hai, Tien Hai, Thai Binh
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
