<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex bg-gray-900 text-white">
<div class="w-[25vw] min-h-[100vh] border-r-2 border-gray-600 p-12 flex flex-col">
  <img src="a.png" class="w-60 h-60 rounded-full border-4 border-gray-400 mx-auto" alt="">
  <h1 class="text-4xl font-bold my-8">Nguyễn Huy Hoàng</h1>
</div>
<div class="w-[75vw] p-8">
  <div class="mt-4 mb-8">
    <h2 class="font-medium my-4 text-2xl">DOB (dd/mm/yyyy)</h2>
    <p class="text-xl max-h-[8rem] rounded-xl border-2 border-gray-700 p-3">2/12/2002</p>
  </div>
  <div class="mt-4 mb-8">
    <h2 class="font-medium my-4 text-2xl">Education</h2>
    <p class="text-xl max-h-[8rem] rounded-xl border-2 border-gray-700 p-3">FPT University</p>
  </div>
  <div class="mt-4 mb-8">
    <h2 class="font-medium my-4 text-2xl">Gender</h2>
    <p class="text-xl max-h-[8rem] rounded-xl border-2 border-gray-700 p-3">Male</p>
  </div>
  <div class="mt-4 mb-8">
    <h2 class="font-medium my-4 text-2xl">Address</h2>
    <p class="text-xl max-h-[8rem] rounded-xl border-2 border-gray-700 p-3">
      Tien Hai, Thai Binh
    </p>
  </div>
  <div class="mt-4 mb-8">
    <h2 class="font-medium my-4 text-2xl">Bio</h2>
    <p class="text-xl rounded-xl border-2 border-gray-700 p-3">Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Ea maxime enim obcaecati! Tempora ipsum harum dignissimos quo totam, corporis quisquam animi
      blanditiis, non, magni voluptates corrupti deserunt ducimus quasi porro cumque eum deleniti veritatis? Ipsa
      pariatur voluptatum, repellendus ut mollitia doloremque qui temporibus cupiditate, earum labore dolor minus ad.
      Harum fugiat facere reiciendis officiis ipsam aliquid? Quisquam, totam doloremque? Totam blanditiis nulla, quasi
      voluptatibus expedita esse delectus magnam. Tempora atque impedit sed at ex ipsa quod quas in. Laudantium, eius!
    </p>
  </div>
</div>
</body>

</html>
