<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex bg-gray-900 text-white font-['SF_Pro_Text']">
<div class="" th:replace="components/nav.html :: aside"></div>
<div class="ml-64 p-6 grow grid xl:grid-cols-2 gap-4" th:each="request: ${requests}">
    <div class="flex items-center justify-between gap-4 p-6 text-white rounded-lg bg-gray-800 border border-gray-700"
         th:object="${request}">
        <a th:href="@{/profile(id=request.id)}" class="flex items-center gap-4">
            <img src="../static/imgs/avatar1.jpg" alt="" class="w-10 h-10 rounded-full">
            <p th:text="*{name}">Anna Amelius</p>
        </a>
        <div class="flex items-center gap-4">
            <a href="" class="bg-blue-600 px-4 py-2 rounded-lg">Accept</a>
            <a href="" class="bg-red-600 px-4 py-2 rounded-lg">Delete</a>
        </div>
    </div>
</div>
</body>
</html>