<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex bg-gray-900 text-white font-['SF_Pro_Text']">
<div class="" th:replace="components/nav.html :: aside"></div>
<div class="ml-64 p-6 grow gap-4">
    <h1 class="text-3xl my-4 font-semibold">Requests</h1>
    <div class="space-y-4 xl:mr-40">
        <div class="flex items-center justify-between gap-4 p-6 text-white rounded-lg bg-gray-800"
             th:each="request: ${requests}">
            <a th:href="@{/profile(id=request.id)}" class="flex items-center gap-4">
                <img th:src="${request.image}" alt="" class="w-10 h-10 rounded-full">
                <p th:text="*{name}" class="font-medium">Anna Amelius</p>
            </a>
            <div class="flex items-center gap-4">
                <a href="" class="bg-green-600 font-medium px-4 py-2 rounded-lg cursor-default">Accept</a>
                <a href="" class="bg-red-600 font-medium px-4 py-2 rounded-lg cursor-default">Delete</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>