<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<html lang="en">
<div class="" th:replace="components/head.html :: head"></div>
<body>
    <script>
        function check_pass() {
            document.getElementById('submit').disabled = document.getElementById('password').value !== document.getElementById('confirm_password').value;
        }
    </script>
<div>
    <h2 style="text-align: center">Reset Your Password</h2>
</div>

<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${token}" />
    <div class="border border-secondary rounded p-3">
        <div>
            <p>
                <label class="label">Enter new password</label>
                <input type="password" name="passwordEncoder" id="password" onchange='check_pass();' class="form-control"
                       placeholder="Enter your new password" required autofocus />
            </p>
            <p>
                <label class="label">Re-enter new password</label>
                <input type="password" name="confirm_password" id="confirm_password" onchange='check_pass();' class="form-control" placeholder="Confirm your new password"/>
            </p>
            <p class="text-center">
                <input type="submit" value="Change Password" class="btn btn-primary" id="submit" disabled/>
            </p>
        </div>
    </div>
</form>
</body>
</html>