<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataTable</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
</head>

<body>

<div class="container mx-auto">
    <div class="flex flex-col">
        <div class="w-full">
            <div class="p-8 border-b border-gray-200 shadow">
                <table class="divide-y divide-gray-300" id="dataTable">
                    <thead class="bg-black">
                    <tr>
                        <th class="px-6 py-2 text-xs text-white">
                            No.
                        </th>
                        <th class="px-6 py-2 text-xs text-white">
                            ID
                        </th>
                        <th class="px-6 py-2 text-xs text-white">
                            SkillName
                        </th>
                        <th class="px-6 py-2 text-xs text-white">
                            Edit
                        </th>
                        <th class="px-6 py-2 text-xs text-white">
                            Delete
                        </th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-300">

                    <tr class="text-center whitespace-nowrap" th:each="skill: ${skillList}">
                        <td class="px-6 py-4 text-sm text-gray-500" th:text="${skillStat.index+1}">
                        </td>
                        <td class="px-6 py-4 text-sm text-gray-500" th:text="${skill.id}"/>
                        <td class="px-6 py-4" th:text="${skill.name}"/>
                        <td class="px-6 py-4">
                            <a href="#" class="inline-block text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-red-400"
                                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </a>
                        </td>
                        <td class="px-6 py-4">
                            <a href="#" class="inline-block text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-red-400"
                                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();

    });
</script>
</body>

</html>