<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Requests - Happy Programming</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="text-white flex">

<!--Left-sidebar-->
<aside class="w-64" aria-label="Sidebar" th:insert="~{components/admin-navbar :: admin-navbar}"></aside>
<!--End-Left-sidebar-->

<div class="bg-gray-900 grow flex min-h-[100vh]">
    <div class="grow p-4">
        <div class="relative overflow-x-auto sm:rounded-lg">
            <table class="w-full text-left text-gray-400">
                <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <th class="px-6 py-4"> ID</th>
                    <th class="px-6 py-4"> Mentee</th>
                    <th class="px-6 py-4"> Mentor</th>
                    <th class="px-6 py-4"> Skill</th>
                    <th class="px-6 py-4"> Budget</th>
                    <th class="px-6 py-4"> Status</th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-b bg-gray-800 border-gray-700" th:each="request: ${requests}">
                    <td class="px-6 py-4" th:utext="${request.id}"></td>
                    <td class="px-6 py-4" th:utext="${request.menteeName}"></td>
                    <td class="px-6 py-4" th:utext="${request.mentorName}"></td>
                    <td class="px-6 py-4" th:utext="${request.skillName}"></td>
                    <td class="px-6 py-4" th:utext="${request.budget}"></td>
                    <td class="px-6 py-4" th:if="${request.status == 1}"><input type="checkbox" readonly checked></input></td>
                    <td class="px-6 py-4" th:if="${request.status == 0}"><input type="checkbox" readonly></input></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>