<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request Sent</title>
</head>
<body class="flex bg-gray-900 text-white font-['SF_Pro_Text']">
<div class="" th:replace="components/nav.html :: aside"></div>
<div class="ml-64 p-6 grow gap-4">
    <h1 class="text-3xl my-4 font-semibold">Requests</h1>
    <table class="w-6/12 text-sm text-left text-gray-400">
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
        <tr>
            <th class="px-6 py-4"> No.</th>
            <th class="px-6 py-4"> Mentee</th>
            <th class="px-6 py-4"> Mentor</th>
            <th class="px-6 py-4"> Skill</th>
            <th class="px-6 py-4"> Budget</th>
            <th class="px-6 py-4"> Status</th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-b bg-gray-800 border-gray-700" th:each="request: ${requests}">
            <td class="px-6 py-4" th:utext="${requestStat.index + 1}"></td>
            <td class="px-6 py-4" th:utext="${request.menteeName}"></td>
            <td class="px-6 py-4" th:utext="${request.mentorName}"></td>
            <td class="px-6 py-4" th:utext="${request.skillName}"></td>
            <td class="px-6 py-4" th:utext="${request.budget}"></td>
            <td class="px-6 py-4" th:if="${request.status == 1}"><input type="checkbox" readonly checked></input></td>
            <td class="px-6 py-4" th:if="${request.status == 0}"><input type="checkbox" readonly></input></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>