<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request sent</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex bg-gray-900 text-white font-['SF_Pro_Text']">
<div class="" th:replace="components/nav.html :: aside"></div>

<div class="ml-64 p-6 grow gap-4">
    <h1 class="text-3xl my-4 font-semibold">Requests sent</h1>
    <div class="relative overflow-x-auto sm:rounded-lg">
        <table class="w-full text-left text-gray-400">
            <thead class="text-xs uppercase bg-gray-700 text-gray-400">
            <tr>
                <th class="px-6 py-4"> No.</th>
                <th class="px-6 py-4"> Mentor</th>
                <th class="px-6 py-4"> Skill</th>
                <th class="px-6 py-4"> Budget</th>
                <th class="px-6 py-4"> Status</th>
                <th class="px-6 py-4"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-b bg-gray-800 border-gray-700" th:each="request: ${requests}">
                <td class="px-6 py-4" th:utext="${requestStat.index + 1}"></td>
                <td class="px-6 py-4" th:utext="${request.mentorName}"></td>
                <td class="px-6 py-4" th:utext="${request.skillName}"></td>
                <td class="px-6 py-4" th:utext="${request.budget}"></td>
                <td class="px-6 py-4" th:if="${request.status == 1}"><input type="checkbox" onclick="return false;"
                                                                            checked></input></td>
                <td class="px-6 py-4" th:if="${request.status == 0}"><input type="checkbox"
                                                                            onclick="return false;"></input></td>
                <td class="px-4 py-4">
                    <button th:onclick="'javascript:confirmDelete(\'' + ${request.id} + '\');'" class="px-4 py-3 bg-red-600 text-gray-100 rounded shadow delete-btn">
                        Delete
                    </button>
                </td>
                <div class="bg-black bg-opacity-50 absolute inset-0 hidden justify-center items-center" id="overlay">
                    <div class="bg-gray-200 max-w-sm py-2 px-3 rounded shadow-xl text-gray-800">
                        <div class="flex justify-between items-center">
                            <h4 class="text-lg font-bold">Confirm Delete?</h4>
                            <svg class="h-6 w-6 cursor-pointer p-1 hover:bg-gray-300 rounded-full" id="close-modal" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div class="mt-2 text-sm">
                            <p>You sure want to delete this request</p>
                        </div>
                        <div class="mt-3 flex justify-end space-x-3">
                            <button id="cancelBtn" class="px-3 py-1 rounded hover:bg-red-300 hover:bg-opacity-50 hover:text-red-900">Cancel</button>
                            <button id="confirmDelBtn" class="px-3 py-1 bg-red-800 text-gray-200 hover:bg-red-600 rounded">Delete</button>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example" class="mt-6 mr-4 flex justify-end">
        <ul class="inline-flex -space-x-px">
            <li>
                <a th:href="@{/request/sent(pageNumber=1)}"
                   class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">First</a>
            </li>
            <li>
                <a th:if="${pageNumber - 2 > 1}" th:href="@{/request/sent(pageNumber=${pageNumber - 2})}"
                   class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                   th:text="${pageNumber -2}">1</a>
            </li>
            <li>
                <a th:if="${pageNumber - 1 > 1}" th:href="@{/request/sent(pageNumber=${pageNumber - 1})}"
                   class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                   th:text="${pageNumber - 1}">2</a>
            </li>
            <li>
                <a href="#" aria-current="page"
                   class="py-2 px-3 text-blue-600 bg-blue-50 border border-gray-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
                   th:text="${pageNumber}">3</a>
            </li>
            <li>
                <a th:if="${pageNumber + 1 < totalPages}" th:href="@{/request/sent(pageNumber=${pageNumber + 1})}"
                   class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                   th:text="${pageNumber + 1}">4</a>
            </li>
            <li>
                <a th:if="${pageNumber + 2 < totalPages}" th:href="@{/request/sent(pageNumber=${pageNumber + 2})}"
                   class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                   th:text="${pageNumber + 2}">5</a>
            </li>
            <li>
                <a th:href="@{/request/sent(pageNumber=${totalPages})}"
                   class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Last</a>
            </li>
        </ul>
    </nav>
</div>


<script>
    const overlay = document.querySelector('#overlay')
    let delBtn = document.querySelectorAll('.delete-btn')
    const closeBtn = document.querySelector('#close-modal')
    const cancelBtn = document.querySelector('#cancelBtn')
    var toggleModal
    for (var i = 0; i < delBtn.length; i++) {
        toggleModal = () => {
            overlay.classList.toggle('hidden')
            overlay.classList.toggle('flex')
        }
        delBtn[i].addEventListener('click', toggleModal)
    }

    closeBtn.addEventListener('click', toggleModal)
    cancelBtn.addEventListener('click', toggleModal)

    function confirmDelete(id) {
        const confirmDelBtn = document.querySelector('#confirmDelBtn')
        const deleteRequest = () => {
            window.location = "/request/delete?id="+id;
        }

        confirmDelBtn.addEventListener('click', deleteRequest)
    }

</script>
</body>
</html>